<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancellation</title>
</head>
<body>
<h1>Are you sure you want to cancel the questionnaire?</h1>

<form action="cancellation" method="POST" >
    <div class="button-container">
        <a th:href="@{/statistical-questions}" class="animated-button">No</a>
        <button type="submit" class="animated-button">Yes</button>
    </div>
</form>

</body>
</html>