<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cancellation</title>
</head>
<body>
<h1>Are you sure you want to cancel the questionnaire?</h1>

<form action="cancellation" method="POST">
    <div class="button-container">
        <button class="animated-button" type="submit" name="no"> No </button>
        <button class="animated-button" type="submit" name="yes"> Yes </button>
    </div>
</form>

</body>
</html>