<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Inspection Page</title>
</head>
<body>

<h1> Admin Inspection Page</h1>

<td th:if="${questionnaire != null && user != null}">
    <h2><a th:text="'Viewing responses of: ' + ${user.getUsername()}"></a></h2>
    <div th:each="ans, i: ${answers}">
        <h3><a th:text="${'Question: ' + ans.getQuestion().getText()}"></a></h3>
        <p th:text="${ans.getText()}"></p>
    </div>
</td>

<td th:if="${questionnaire != null && user == null}">
    <h2> Selected Questionnaire: </h2>
    <h3>
        <a th:text="${
            #dates.format(questionnaire.getDate(), 'dd/MMM/yyyy')
            + '  -  ' +
            questionnaire.getProductEntity().getName()
        }"></a>
    </h3>

    <h4> Submitted Questionnaires: </h4>
    <a th:each="sub, i: ${submissions}">
        <form method="POST"
              th:action="@{/inspection-page?questionnaire=__${questionnaire.getId()}__&user=__${sub.getId()}__}">
            <button th:text="${sub.getUsername()}" type="submit">
            </button>
        </form>
    </a>
    <h4> Cancelled Questionnaires: </h4>
    <p th:each="canc, i: ${cancellations}">
        <a th:text="${canc.getUsername()}"> </a>
</td>

<td th:unless="${questionnaire != null}">
    <h3> Select a questionnaire to view the responses</h3>

    <a th:each="questionnaire, i: ${questionnaires}">
        <form method="POST" th:action="@{/inspection-page?questionnaire=__${questionnaire.getId()}__}">
            <h3>
                <button th:text="${#dates.format(questionnaire.getDate(), 'dd/MMM/yyyy')
                                + '  -  ' +
                                questionnaire.getProductEntity().getName()}"
                        type="submit">
                </button>

                <a th:href="@{'/edit-questionnaire?id=' + ${questionnaire.getId()}}"
                   th:if="${questionnaire.getDate().after(today)}"> Edit questionnaire </a>
            </h3>

        </form>
    </a>
</td>

<p>
    <a id=center th:href="@{/admin-panel}">Return to home</a>
</p>

</body>
</html>