<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Inspection Page</title>
</head>
<body>

<h1> Admin Inspection Page</h1>

<span th:if="${user != null}">
<h3><a th:text="'Viewing responses of: ' + ${user.getUsername()}"></a></h3>
    <div th:each="ans, i: ${answers}">
        <h2>
            <a th:text="${ans.}"
        </h2>
    </div>
</span>

<span th:if="${selected != null && user == null}">
    <h2>
        <a th:text="${
            'Selected Questionnaire: ' +
            #dates.format(selected.getDate(), 'dd/MMM/yyyy')
            + '  -  ' +
            selected.getProductEntity().getName()
        }"></a>
    </h2>

    <h3> Submitted Questionnaires </h3>
    <div th:each="sub, i: ${submissions}">
        <p>
        <h2>
            <form method="POST"
                  th:action="@{/inspection-page?selected=__${selected.getId()}__&user=__${sub.getId()}__}">
                <button th:text="${sub.getUsername()}" type="submit">
            </button>
            </form>
        </h2>
        </p>
    </div>
    <h3> Cancelled Questionnaires </h3>
    <div th:each="canc, i: ${cancellations}">
        <p>
        <h2>
            <form method="POST"
                  th:action="@{/inspection-page?selected=__${selected.getId()}__&user=__${canc.getId()}__}">
                <button th:text="${canc.getUsername()}" type="submit">
            </button>
            </form>
        </h2>
    </p>
    </div>
</span>
<span th:unless="${selected != null && user == null}">
    <h3> Select a questionnaire to view the responses</h3>

    <div th:each="questionnaire, i: ${questionnaires}">
        <p>
        <h3>
            <form method="POST" th:action="@{/inspection-page?selected=__${questionnaire.getId()}__}">
                <button th:text=
                                "${#dates.format(questionnaire.getDate(), 'dd/MMM/yyyy')
                                + '  -  ' +
                                questionnaire.getProductEntity().getName()}"
                        type="submit">
            </button>
            </form>
        </h3>
        </p>
    </div>
</span>

<p>
    <a id=center th:href="@{/}">Return to home</a>
</p>

</body>
</html>