<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Marketing questions</title>
</head>
<body>

<h1>Questionnaire</h1>

<span th:if="${available}">
    <h2>Answer to all of these question to get points in the leaderboard</h2>
    <p class="error" style="color:blue;" th:if="${missing}"> You have to answer to all marketing questions!</p>
    <form action="marketing-questions" method="POST">
        <div th:each="marketingQuestion: ${marketingQuestions}">
            <label th:text="${marketingQuestion.getText()}"></label>
            <br><label>
            <textarea placeholder="Your answer" th:name="${marketingQuestion.getId()}"
                      th:text="${marketingAnswers ? marketingAnswers.get(marketingQuestion.getId()) : null} ?: '' ">Nothing</textarea>
        </label>
        </div>

        <div class="button-container">
            <a class="animated-button" th:href="@{/homepage}">Previous</a>
            <button class="animated-button" type="submit">Next</button>
        </div>
    </form>
</span>


<span th:unless="${available}">We are sorry, but today no questionnaire is available.</span>

</body>
</html>