<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Registration page</h1>

<p class="error" style="color:red;" th:if="${missing}"> Fields Missing</p>
<p class="error" style="color:red;" th:if="${duplicated}"> Username/Email already used</p>

<form method="POST" th:action="@{/registration}">
    <p><label for="username"> Username </label>:</p>
    <p><input autofocus="autofocus" id="username" name="username" type="text"/> <br/></p>
    <p><label for="email"> E-Mail </label>:</p>
    <p><input autofocus="autofocus" id="email" name="email" type="text"/> <br/></p>
    <p><label for="password"> Password </label>:</p>
    <p><input id="password" name="password" type="password"/> <br/></p>
    <p><input type="submit" value="Register"/></p>
</form>
</body>
</html>