<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1> Welcome, <span th:text="${username}"> Username </span></h1>
(<a href="login">logout</a>) (<a href="leaderboard">leaderboard</a>)
<h2>
    <td th:text="${product ? 'Product of the day: ' + product.getName() : null} ?: 'No product of the day :/'"></td>
</h2>

<p>
    <img class='img-thumbnail' th:if="${product != null}"
         width="200" height="200"
         th:src="'data:image/jpeg;base64,' + ${product.getImageBase64()}"/>
</p>


<p th:if="${hasSubmitted}"> You have already submitted this questionnaire </p>
<p th:if="${ban}"> You are banned, so no questionnaire for you :/ </p>
<p th:unless="${hasSubmitted || !product}"><a href="marketing-questions"> Go to Questionnaire </a></p>

<td th:switch="${#lists.size(reviews)}">
    <span th:case="'0'"> No one answered yet! Be the first to answer! </span>
    <div th:case="*">
        <table style="width:50%">
            <thead>
            <tr>
                <th> Username</th>
                <th> Review</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="review : ${reviews}">
                <td style="text-align:center">
                    <span th:text="${review.getQuestionnaireSubmission().getUser().getUsername()}"> Username </span>
                </td>
                <td style="text-align:center"><span
                        th:text="${review.getQuestion().getText()} + ' - ' + ${review.getText()}"> Review </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</td>
</body>
</html>